<div class="content">
  <div class="mainbar">
    <div class="article">
      <h2><span>Excellent Solution</span> For Your Business</h2>
      <p class="infopost"><a href="#" class="com">Comments <span>11</span></a> &nbsp;&nbsp;|&nbsp;&nbsp; Posted <span class="date">on 11 sep 2018</span> by <a href="#">Admin</a> &nbsp;&nbsp;|&nbsp;&nbsp; Filed under <a href="#">templates</a>, <a href="#">internet</a></p>
      <div class="clr"></div>
      <div class="img"><img src="images/img1.jpg" width="176" height="245" alt="" class="fl" /></div>
      <div class="post_content">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. <a href="#">Suspendisse bibendum. Cras id urna.</a> Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum odio, ac blandit ante orci ut diam. Cras fringilla magna. Phasellus suscipit, leo a pharetra condimentum, lorem tellus eleifend magna, eget fringilla velit magna id neque. Curabitur vel urna. In tristique orci porttitor ipsum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo.</p>
        <p class="spec"><a href="#" class="rm">Read more</a></p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="sidebar">
    <div class="gadget">
      <h2 class="star"><span>Sidebar</span> Menu</h2>
      <div class="clr"></div>
      <ul class="sb_menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">TemplateInfo</a></li>
        <li><a href="#">Style Demo</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Archives</a></li>
        <li><a href="#">Web Templates</a></li>
      </ul>
    </div>
  </div>
  <div class="clr"></div>
</div>